<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% if page.title == "Little Light" %}
    <img style="width: 100%" src="https://github.com/GabrielAbdul/LittleLight/blob/main/images/menu1.png?raw=true" alt="LittleLight Main Menu">
    {% endif %}
    <div class="container">   
      
      {%- include header.html -%}
      
      <main>
        
        {{ content }}
        
      </main>
    </div>

    {%- include footer.html -%}

  </body>
</html>
